@model IEnumerable<FIBRACAT.Models.TransactionModel>


@{
     ViewData["Title"] = "Transaction";
}
        
<h4>REGISTRO VENTAS</h4>
<hr />


        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CATEGORIA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IDCATEGORIA)
                    </th>
                     
                   
                    <th>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Transaction",null,Context.Request.Scheme)','Nuevo Registro')" class="btn btn-success btn-sm"><i class=""></i> AGREGAR</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CATEGORIA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDCATEGORIA)
                        </td>
                         
                        
                        <td>
                            <div>
                                <a onclick="showInPopup('@Url.Action("AddOrEdit","Transaction",new {id=item.CID},Context.Request.Scheme)','Actualizar Registro')" class=""><i  class="btn btn-primary btn-sm" role="button" aria-pressed="true">Editar</i> </a>
                                <a asp-action="Delete" asp-route-id="@item.CID" class="text-danger ml-1" onclick="return confirm('¿ESTAS SEGURO?')"><i class="btn btn-danger btn-sm" role="button" aria-pressed="true">Eliminar</i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>