@model IEnumerable<FIBRACAT.Models.Administrador>

@{
     ViewData["Title"] = "Administrador";
}

<h4>DATOS CLIENTE</h4>
<hr />


<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NPRODUCTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FOTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRECIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CELULAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LUGAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCOMPRADOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CATEGORIA)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-success btn-sm"></i> CLIENTE</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NPRODUCTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FOTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRECIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CELULAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LUGAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NCOMPRADOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORIA)
            </td>
            <td>
               
                <a asp-action="AddOrEdit" asp-route-id="@item.CID"><i  class="btn btn-primary btn-sm" role="button" aria-pressed="true">Editar</i></a>
                <a asp-action="Delete" asp-route-id="@item.CID" class="" onclick="return confirm('¿ESTAS SEGURO?')"><i  class="btn btn-danger btn-sm" role="button" aria-pressed="true">Eliminar</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
